{% extends "base.html.twig" %}

{% block title %}ADMIN - Liste des pizzas{% endblock %}

{% block body %}

  <h1>Les Pizzas</h1>

  <div class="btn-container absolute">
        <a class="btn btn-success" href="{{ path("app_admin_pizza_create")}}">
            <i class="fa-solid fa-circle-plus"></i>
            <span>Nouvelle pizza</span>
        </a>
    </div>

  <div class="cards-container">

    {% for pizza in pizzas %}
      <div class="card card-pizza">
        <img src="{{ pizza.imageURL }}" alt="image de la {{ pizza.name }}">
        <div class="blur"></div>
        <h2>{{ pizza.name }}</h2>
        <p>{{ pizza.description }}</p>

        <div class="buttons">
          <a href="#" class="btn btn-success">
            <i class="fa-solid fa-pencil"></i>
            <span>Modifier</span>
          </a>
          <a href="#" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>
            <span>Supprimer</span>
          </a>
        </div>

      </div>
    {% endfor %}

  </div>

{% endblock %}